body {
    background-color: rgb(232, 232, 243);
    font-family: 'Poppins', sans-serif;
}

.label {
    width: 75%;
    margin-inline: auto;
    line-height: 80px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(33.33vh - 60px) calc(33.33vh - 60px) calc(33.33vh - 60px);
    grid-gap: 24px;
    width: 80%;
    margin-inline: auto;
    padding-bottom: 24px;
}

.box {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.param {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.value {
    text-align: center;
}


.chart {
    grid-row: 2/4;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 10px 0px;
    background-color: white;
}



.fan {
    display: flex;
    align-items: center;
}

.led {
    background-color: rgb(246, 246, 246);
}

.content {
    text-align: center;
}

.content img {
    width: 103px;
    margin: 0 auto;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.btn {
    padding: 5px 20px;
    border-radius: 5px;
    color: black;
    background-color: rgb(200, 200, 200);
}

.btn--on {
    background-color: greenyellow;
}

.btn--off {
    background-color: red;
}

.display {
    font-size: 80px;
}

.temperature {
    background-image: linear-gradient(red, orange);
}

.humidity {
    background-image: linear-gradient(rgb(38, 107, 255), rgb(54, 190, 213));
}

.intensity {
    background-image: linear-gradient(yellow, rgb(238, 250, 161));
}

.valu {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* fan */
.content-fan img {
    margin-top: 15px;
}

.rotating {
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}